@using PagedList
@using PagedList.Mvc

@model IPagedList<WebApplication1.MonHoc>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>DANH SÁCH MÔN HỌC</h2></center>

<center>
    <p>
        @Html.ActionLink("Thêm mới", "Create", "MonHoc")
        @using (Html.BeginForm())
        {
        <p>
            Nhập tên môn học: @Html.TextBox("ten")
            Nhập mã môn học: @Html.TextBox("maMH")
            <input type="submit" value="Tìm kiếm" />
        </p>
    }
        </p>
    </center>

    <table class="table">
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã môn học
            </th>
            <th>
                Tên môn học
            </th>
            <th>
                Số tín chỉ
            </th>

            <th></th>
        </tr>
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
            count += 1;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonHocID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoTinChi)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MonHocID }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MonHocID })

                </td>
            </tr>
        }

    </table>
    <div class="col-md-12 text-center clear-both">
        @Html.PagedListPager(Model, sotrang => Url.Action("Index", new { page = sotrang }))
    </div>
    <p>
        @if (TempData["message"] != null)
        {
            <center><p style="color:red; font:bold"> @TempData["message"] </p></center>
        
        }
    </p>